In [72]:
import requests
import pandas as pd
import random
from datetime import datetime, timedelta

In [78]:
# define a `coordinates` function:
# - taking an address as parameter
# - returning a latitude and a longitude

def coordinates(location):
    url = "https://nominatim.openstreetmap.org/search"
    params = {
        'q': location,
        'format': 'json'
    }
    response = requests.get(url, params=params).json()
    return response

In [87]:
df2 = pd.read_csv('final-crime-data.csv')
df3=df2.drop(columns=['Unnamed: 0'])
df3

,unique_case_id,type_of_crime,location,victim_sex,offender_sex,number_of_victims,number_of_offenders,Homicide,Hate Crime - Disability,Hate Crime - Gender,...,General Assault,Sexual Assault,Sexual Harassment,Property Crimes,Domestic Violence,Missing Person,Traffic Incident,Unclassified,timestamp,date
0,000001_1202461,"Property Damage, Driving Under the Influence","Havelchaussee, Elbgrabenweg",Male,Male,2,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,02:40:00,2022-04-05
1,000002_1202451,"General Assault, Verbal Abuse, Property Damage...","Parkhaus am Ostbahnhof, Friedrichshain-Kreuzberg",Male,Male,1,4,1.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,15:30:00,2022-04-05
2,000003_1202414,"General Assault, Property Damage",Kottbusser Tor,Male,Male,3,1,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,01:40:00,2022-04-05
3,000004_1202247,"General Assault, Verbal Abuse, Hate Crime - Ge...",Sonnenallee,"Female, Male",Male,2,4,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20:00:00,2022-03-05
4,000005_1202124,"Property Crime, General Assault, Verbal Abuse",Kaiser-Friedrich-Straße,Female,Male,1,3,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,00:45:00,2022-03-05
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72145,000001_1312353,"Property Damage, Homicide","Salchendorfer Weg, Falkenhagener Feld, Spandau",Female,Unknown,1,Unknown,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,22:00:00,2023-07-04
72146,000002_1312248,"Property Damage, Arson","Bergfriedstraße, Friedrichshain-Kreuzberg",Unknown,Unknown,0,Unknown,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,04:45:00,2023-06-04
72147,000003_1312133,"General Assault, Property Damage",U-Bahnhof Rathaus Spandau,Male,Male,1,3-4,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,20:10:00,2023-06-04
72148,000004_1312099,Drug Offenses,"U-Bahnhof Rathaus Spandau, U-Bahnhof Haselhorst",Male,Male,1,1,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,14:40:00,2023-06-04
72149,000001_1314948,"Property Crime, Theft",Wilmersdorf,Female,Male,1,2,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,16:50:00,2023-19-04

In [83]:
# Apply the function to the 'Column1' values and create a new column
df2['Output'] = df2['Location'].apply(coordinates)

df2

,Unnamed: 0,Location,Time,Date,Output,Year,Month,Day,lat,lon
0,0,East Side Gallery,20:44:00,2023-05-30 20:10:14.182771,"[{'place_id': 308737198, 'licence': 'Data © Op...",2023,5,30,52.504454,13.440839
1,1,Berlin Wall Memorial,13:15:00,2023-04-29 20:10:14.182771,"[{'place_id': 309207555, 'licence': 'Data © Op...",2023,4,29,52.537671,13.395245
2,2,Eisenzahnstr/westfaelischestr,11:38:00,2023-03-29 20:10:14.182771,"[{'place_id': 6186185, 'licence': 'Data © Open...",2023,3,29,52.493145,13.305396
3,3,Potsdamer Platz,00:47:00,2023-05-02 20:10:14.182771,"[{'place_id': 308229093, 'licence': 'Data © Op...",2023,5,2,52.509801,13.375590
4,4,Berlin Wall Memorial,01:12:00,2022-11-27 20:10:14.182771,"[{'place_id': 309207555, 'licence': 'Data © Op...",2022,11,27,52.537671,13.395245
...,...,...,...,...,...,...,...,...,...,...
295,295,Brandenburg Gate,19:10:00,2022-07-07 20:10:14.182771,"[{'place_id': 220394668, 'licence': 'Data © Op...",2022,7,7,52.516270,13.377703
296,296,Brandenburg Gate,19:51:00,2022-07-15 20:10:14.182771,"[{'place_id': 220394668, 'licence': 'Data © Op...",2022,7,15,52.516270,13.377703
297,297,Berlin Wall Memorial,14:02:00,2023-02-18 20:10:14.182771,"[{'place_id': 309207555, 'licence': 'Data © Op...",2023,2,18,52.537671,13.395245
298,298,East Side Gallery,13:12:00,2023-03-25 20:10:14.182771,"[{'place_id': 308737198, 'licence': 'Data © Op...",2023,3,25,52.504454,13.440839
299,299,Gendarmenmarkt,01:38:00,2022-12-23 20:10:14.182771,"[{'place_id': 308240951, 'licence': 'Data © Op...",2022,12,23,52.513636,13.392720

In [54]:
df2['Output'][0][1]

'13.440839239027115'

In [57]:
df2.head()

,Location,Time,Date,Output,Year,Month,Day,lat,lon
0,East Side Gallery,20:44:00,2023-05-30 20:10:14.182771,"(52.50445415, 13.440839239027115)",2023,05,30,52.50445415,13.440839239027115
1,Berlin Wall Memorial,13:15:00,2023-04-29 20:10:14.182771,"(52.537671, 13.395244908713806)",2023,04,29,52.537671,13.395244908713806
2,Eisenzahnstr/westfaelischestr,11:38:00,2023-03-29 20:10:14.182771,"(52.4931447, 13.3053957)",2023,03,29,52.4931447,13.3053957
3,Potsdamer Platz,00:47:00,2023-05-02 20:10:14.182771,"(52.5098014, 13.375589791291057)",2023,05,02,52.5098014,13.375589791291057
4,Berlin Wall Memorial,01:12:00,2022-11-27 20:10:14.182771,"(52.537671, 13.395244908713806)",2022,11,27,52.537671,13.395244908713806

In [47]:
df2['Date'] = pd.to_datetime(df2['Date'])

In [56]:
df2['Year'] = df2['Date'].dt.strftime('%Y')
df2['Month'] = df2['Date'].dt.strftime('%m')
df2['Day'] = df2['Date'].dt.strftime('%d')

In [58]:
df2['date'] = pd.to_datetime(data[['Year', 'Month', 'Day']]).dt.strftime('%Y-%m-%d')

TypeError: unhashable type: 'list'

In [59]:

df2['lat'] = df2['Output'].apply(lambda x : x[0])
df2['lon'] = df2['Output'].apply(lambda x : x[1])

In [60]:
df2.head()

,Location,Time,Date,Output,Year,Month,Day,lat,lon
0,East Side Gallery,20:44:00,2023-05-30 20:10:14.182771,"(52.50445415, 13.440839239027115)",2023,05,30,52.50445415,13.440839239027115
1,Berlin Wall Memorial,13:15:00,2023-04-29 20:10:14.182771,"(52.537671, 13.395244908713806)",2023,04,29,52.537671,13.395244908713806
2,Eisenzahnstr/westfaelischestr,11:38:00,2023-03-29 20:10:14.182771,"(52.4931447, 13.3053957)",2023,03,29,52.4931447,13.3053957
3,Potsdamer Platz,00:47:00,2023-05-02 20:10:14.182771,"(52.5098014, 13.375589791291057)",2023,05,02,52.5098014,13.375589791291057
4,Berlin Wall Memorial,01:12:00,2022-11-27 20:10:14.182771,"(52.537671, 13.395244908713806)",2022,11,27,52.537671,13.395244908713806

In [61]:

df2.to_csv('berlin_data.csv')

In [62]:
df2['Location'].value_counts()

Location
Potsdamer Platz                     28
Checkpoint Charlie                  28
Brandenburg Gate                    28
kopenickerstr/heinrich-heine-str    27
Tiergarten                          25
Gendarmenmarkt                      25
Berlin Wall Memorial                24
Berlin Zoo                          23
Zoologischer Garten                 21
Eisenzahnstr/westfaelischestr       19
Reichstag Building                  18
Charlottenburg Palace               18
East Side Gallery                   16
Name: count, dtype: int64

In [65]:
location_counts = df2.groupby(['lat','lon']).size().reset_index(name = 'count')
location_counts['count']

0     25
1     19
2     16
3     21
4     28
5     23
6     28
7     27
8     25
9     28
10    18
11    18
12    24
Name: count, dtype: int64

In [117]:
data = pd.read_csv('dummy_table.csv')
#selected_crime_type = ['Hate Crime - Disability','Hate Crime - Gender','Hate Crime - Gender Identity']

selected_crime_type = ['I wanna see All']

data['Date'] = pd.to_datetime(data['Date'])
data['Date']

0     2023-05-30 20:10:14.182771
1     2023-03-29 20:10:14.182771
2     2023-05-02 20:10:14.182771
3     2022-11-27 20:10:14.182771
4     2022-07-06 20:10:14.182771
                 ...
224   2022-10-08 20:10:14.182771
225   2023-02-05 20:10:14.182771
226   2022-10-24 20:10:14.182771
227   2022-09-14 20:10:14.182771
228   2022-07-07 20:10:14.182771
Name: Date, Length: 229, dtype: datetime64[ns]

In [118]:
data['Date'] = data['Date'].dt.date
data['Date']

0      2023-05-30
1      2023-03-29
2      2023-05-02
3      2022-11-27
4      2022-07-06
          ...
224    2022-10-08
225    2023-02-05
226    2022-10-24
227    2022-09-14
228    2022-07-07
Name: Date, Length: 229, dtype: object

In [119]:


selected_date = '2023-05-30'
# Filter the data based on the selected options
if 'I wanna see All' in selected_crime_type:
    filtered_data = data[data['Date'] == selected_date]
else:
    filtered_data = data.loc[:, ['Date','lat','lon'] + selected_crime_type]
    

filtered_data

Empty DataFrame
Columns: [Unnamed: 0, Time, Date, Year, Month, Day, unique_case_id, official_case_id, type_of_crime, location, year, date, time, victim_sex, offender_sex, number_of_victims, number_of_offenders, Homicide, Hate Crime - Disability, Hate Crime - Gender, Hate Crime - Gender Identity, Hate Crime - Religious, Hate Crime - Sexual orientation, Hate Crime - Racial/Ethnicity, Hate Crime - Ethnicity, Verbal Abuse/Verbal Assault, Property Damage, Drug Offenses, General Assault, Sexual Assault, Sexual Harassment, Property Crimes, Domestic Violence, Missing Person, Traffic Incident, Unclassified, Output, Good_output, lon, lat]
Index: []

[0 rows x 40 columns]

In [121]:
selected_time = 'Early Morning (04-07)'

def compute_radius(selected_time):
    # Define the mapping of time ranges to radius values
    radius_mapping = {
        'Early Morning (04-07)': 10,
        'Morning (07-11)': 15,
        'Noon(11-14)': 20,
        'Afternoon (14-17)': 25,
        'Evening (17-21)': 30,
        'Night (21-23)': 25,
        'Midnight (23-04)': 15,
        
    }



    # Get the radius for the selected time range
    radius = radius_mapping[selected_time]
    return radius

radius = compute_radius(selected_time)
radius

10